NODE_ENV=ENTER_NODE_ENV
BACKEND_VER=/api/API_VERSION
PORT=ENTER_PORT_NUM

DATABASE_URL="ENTER_SUPABASEDB_URL"
SUPABASE_URL="ENTER_SUPABASE_CLIENT_URL"
CORS_ORIGIN=ENTER_FRONTEND_URL

SUPABASE_KEY=ENTER_SUPABASE_CLIENT_KEY
SESSION_SECRET=ENTER_SECRET_KEY
COOKIE_SECRET=ENTER_SECRET_KEY
ACCESS_TOKEN_SECRET=ENTER_SECRET_KEY
REFRESH_TOKEN_SECRET=ENTER_SECRET_KEY
